<!DOCTYPE html>
<html>
<head>
  <title>EventTracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class='header'>
  <%= render 'layouts/menu_list' %>
</header>


<section id='main'>
  <%= yield %>
</section>
<section id='sidebar'>
  <%= render 'layouts/sidebar' %>
</section>


<footer class='footer'>
  <%= render 'layouts/menu_list' %>
</footer>

</body>
</html>
